body {
  background-image: url(background.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

@media (max-width: 600px) {
  body {
    height: auto;
  }
}
